@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body,html{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    background-color: orange;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #FED8B1;
}

#logo {
    transition: all 0.3s;
}

#logo:hover {
    font-size: 35px;
}

#container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-end-end-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 4px 3px 4px black;
}

nav ul {
    padding: 0;
}

nav li {
    display:inline;
}

#botoes {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

nav a {
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

nav a:hover {
    color: blueviolet;
    text-decoration: underline;
}

nav a:active {
    color: purple;
}


main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;
    overflow: hidden;
}


.imgs {
    width: 20%;
    height: 20%;
    padding: 5px;
    border-radius: 80px;
    box-shadow: 2px 2px 5px black;
    transition:.2s;
}

.imgs:hover {
    transform: scale(1.1);
}

footer {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 10%;
    background-color: orange;
    display:flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
}
/*nav a:hover::after{
    content: url(./imgs/clipart1493412.png);
    display: block;
    height: 5px;
    width: 5px;
}   
*/

@media (max-width:700px) {
    header h1 {
        display: none;
    }

    .navbar {
        width: 100%;
        height: 40%;
    }

    nav a {
        font-size: 35px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgs {
        width: 50%;
        height: 50%;
    }
}